$xs: 0
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px
$xxl: 1400px

//ESTILO GENERAL PARA TODAS LAS PANTALLAS
main
  display: grid
  grid-template-rows: fit-content(100%)

  div
    height: fit-content

  ::-webkit-scrollbar
    width: 0.5rem

  ::-webkit-scrollbar-track
    background: transparent

  ::-webkit-scrollbar-thumb
    background: white

  ::-webkit-scrollbar-thumb:hover
    background: #727070

  padding: 3rem 0
  background: #5991b0
  color: #333333
  min-height: 70rem

  .titulo
    color: white
    padding: 1rem
    text-align: center