$xs: 0
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px
$xxl: 1400px
    
nav
  background: #c72929
  position: sticky
  top: 0
  z-index: 1//Para estar por encima de todo lo demas.

  .links
    display: grid
    column-gap: 3rem

  a
    color: white
    border: solid transparent
    border-radius: 1rem
    padding: 0.5rem
    position: relative
    top: 0
    transition-property: border, top
    transition-duration: 0.5s, 0.5s

  a:hover
    border: solid white
    top: -5px 
    transition-property: border, top
    transition-duration: 0.5s, 0.5s

  .scrollMenu
    display: none

@media screen and (width > $xs) and (width < $lg)
  nav
    overflow: auto

    .scrollMenu
      display: flex
      gap: 2rem
      padding: 1rem
      overflow: auto
      white-space: nowrap

      a
        font-size: 1.5rem
        text-decoration: none

    .btnLinks
      display: block
      margin: 1rem
      width: fit-content

      i
        border: solid #333333
        border-radius: 0.5rem
        color: #333333
        font-size: 3rem
        padding: 1rem

    .links
      background: #c71814
      padding: 1rem
      display: none
      justify-content: center
      opacity: 0
      transition: opacity 2s

      a
        border: solid #333333
        border-radius: 0.5rem
        text-decoration: none
        font-size: 2rem
        margin: 1rem 0
        padding: 1rem

@media screen and (width >= $lg)
  nav
    display: grid
    justify-content: center

    .links
      align-items: center
      grid-template-columns: repeat(6,auto)
      gap: 3rem
      padding: 1rem
      justify-content: center

    a
      text-align: center
      font-size: 1.5rem
      text-decoration: none
