* {
  font-family: "Belleza", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #444343;
}

.container {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
}

header {
  grid-area: header;
}
header h1 {
  font-family: Belleza, serif;
  font-weight: bolder;
}

footer {
  grid-area: footer;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
}
nav a {
  font-family: Belleza, serif;
  font-weight: bolder;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #727070;
}

main {
  background: #5991b0;
  color: #333333;
  min-height: 60rem;
}
main .apartado {
  justify-content: center;
  background: #66a3c0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 25rem;
  height: fit-content;
  max-height: 35rem;
}
main .apartado .contenido {
  display: block;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  height: 0;
}
main .apartado h1, main .apartado h2, main .apartado h3 {
  margin-bottom: 1rem;
}
main .apartado h1 {
  text-align: center;
}
main .apartado h2 {
  text-align: justify;
}
main .apartado:hover {
  justify-content: center;
}
main .apartado:hover .contenido {
  opacity: 100%;
  transition: opacity 1s ease-in;
  height: auto;
}

@media screen and (width > 0) and (width < 576px) {
  main {
    display: grid;
  }
  main .reglas {
    display: grid;
    padding: 2rem 0;
    gap: 2rem;
    grid-template-columns: 90%;
    grid-template-rows: auto;
    justify-content: center;
    background: #5991b0;
  }
}
@media screen and (width > 576px) and (width <= 768px) {
  main {
    display: grid;
  }
  main .reglas {
    display: grid;
    padding: 2rem 0;
    gap: 2rem;
    grid-template-columns: 75%;
    grid-template-rows: auto;
    justify-content: center;
    background: #5991b0;
  }
}
@media screen and (width > 768px) and (width < 1200px) {
  main {
    display: grid;
  }
  main .reglas {
    display: grid;
    padding: 2rem 0;
    gap: 2rem;
    grid-template-columns: 37.5% 37.5%;
    grid-template-rows: auto;
    justify-content: center;
    background: #5991b0;
  }
}
@media screen and (width > 1200px) {
  main {
    display: grid;
    margin: 0 auto;
    width: 100%;
  }
  main .eleccionTorneo {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10rem auto 0 auto;
    width: 50%;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  main .eleccionTorneo ::-webkit-scrollbar {
    width: 1rem;
  }
  main .eleccionTorneo ::-webkit-scrollbar-track {
    background: transparent;
  }
  main .eleccionTorneo ::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: #66a3c0;
  }
  main .eleccionTorneo ::-webkit-scrollbar-thumb:hover {
    background: white;
  }
  main .eleccionTorneo .torneos {
    display: flex;
    justify-content: start;
    flex-direction: column;
    max-height: 30rem;
    overflow: auto;
  }
  main .eleccionTorneo .torneos a {
    border: solid white;
    border-radius: 0.5rem;
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    transition: font-size 1s;
    margin: 1rem 1rem;
  }
  main .eleccionTorneo .torneos a:hover {
    position: relative;
    font-size: 2.4rem;
    transition: font-size 1s;
  }
  main .eleccionTorneo .imgDecoracion {
    border-radius: 0.5rem;
    width: 30rem;
    max-height: 30rem;
    overflow: hidden;
  }
  main .eleccionTorneo .imgDecoracion img {
    width: 100%;
  }
  main .reglas {
    display: grid;
    padding: 2rem 0;
    gap: 2rem;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto;
    justify-content: center;
    background: #5991b0;
  }
}
header {
  background: #5991b0;
  color: white;
}
header a {
  color: white;
  text-decoration: none;
}

@media screen and (width > 0px) and (width <= 576px) {
  header {
    display: grid;
    padding: 1rem;
    justify-content: center;
  }
  header .logo {
    margin: 0 auto;
    width: 50%;
  }
  header .logo img {
    height: auto;
    width: 100%;
  }
  header h1 {
    text-align: center;
    font-size: 2rem;
  }
}
@media screen and (width > 576px) and (width <= 768px) {
  header {
    display: grid;
    padding: 1rem;
    justify-content: center;
  }
  header .logo {
    margin: 0 auto;
    width: 50%;
  }
  header .logo img {
    height: auto;
    width: 100%;
  }
  header h1 {
    text-align: center;
    font-size: 3rem;
  }
}
@media screen and (width > 768px) {
  header {
    display: grid;
    padding: 1rem;
    justify-content: center;
  }
  header .logo {
    margin: 0 auto;
    width: 20%;
  }
  header .logo img {
    height: auto;
    width: 100%;
  }
  header h1 {
    text-align: center;
    font-size: 2rem;
  }
}
nav {
  background: #c71814;
  position: sticky;
  top: 0;
}
nav .links {
  display: grid;
  column-gap: 3rem;
}
nav a {
  color: white;
}
nav a:hover {
  color: #bbb8b8;
}
nav .scrollMenu {
  display: none;
}

@media screen and (width > 0) and (width < 768px) {
  nav {
    overflow: auto;
  }
  nav .scrollMenu {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    overflow: auto;
    white-space: nowrap;
  }
  nav .scrollMenu a {
    font-size: 1.5rem;
    text-decoration: none;
  }
  nav .btnLinks {
    display: block;
    margin: 1rem;
    width: fit-content;
  }
  nav .btnLinks i {
    border: solid #333333;
    border-radius: 0.5rem;
    color: #333333;
    font-size: 3rem;
    padding: 1rem;
  }
  nav .links {
    background: #c71814;
    padding: 1rem;
    display: none;
    justify-content: center;
    opacity: 0;
    transition: opacity 2s;
  }
  nav .links a {
    border: solid #333333;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem;
  }
}
@media screen and (width >= 768px) {
  nav {
    display: grid;
    justify-content: center;
  }
  nav .links {
    align-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 3rem;
    padding: 1rem;
    justify-content: center;
  }
  nav a {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
  }
}
footer {
  background: #181616;
  color: white;
  min-height: 20rem;
}

@media screen and (width > 0) and (width < 576px) {
  footer .redesSociales {
    margin: 3rem 0;
    row-gap: 3rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
  footer .redesSociales i {
    color: white;
    font-size: 5rem;
  }
  footer .redesSociales i:hover {
    color: #5991b0;
  }
  footer .info {
    display: grid;
    height: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem;
  }
}
@media screen and (width >= 576px) {
  footer .redesSociales {
    margin: 3rem 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
  }
  footer .redesSociales i {
    color: white;
    font-size: 5rem;
  }
  footer .redesSociales i:hover {
    color: #5991b0;
  }
  footer .info {
    display: grid;
    height: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
  }
}
form {
  display: grid;
  row-gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
}
form label {
  color: #333333;
  text-align: center;
  font-size: 3rem;
}
form select {
  color: #333333;
  background: #66a3c0;
  border: none;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}
form .submitBox {
  display: flex;
  justify-content: right;
}
form .submitBox .submit {
  color: #333333;
  border: none;
  border-radius: 0.5rem;
  background: #66a3c0;
  font-size: 2rem;
  padding: 1rem;
  transition: font-size 0.33s, color 0.33s;
  width: fit-content;
}
form .submitBox .submit:hover {
  position: relative;
  transition: font-size 0.33s, color 0.33s;
  color: #21c260;
  font-size: 3rem;
}

/*# sourceMappingURL=styles.css.map */
